<nav class="sidemenu">
  <ul>
     <li>
      <img src="../../../assets/mil-logo-removebg-preview.png" width="130px">
     </li>
    <li routerLink="/funcionario/home"> <mat-icon>home</mat-icon>Home</li>
    <li routerLink="/funcionario/timer/lancamento"> <mat-icon>timer</mat-icon>Registros de Pontos</li>
    <li routerLink="http://itmil.com.br/"> <mat-icon>feed</mat-icon>Sobre nós</li>
      <li (click)="openTrocarSenhaModal(codigoFuncionario)">
        <mat-icon class="trocar-senha">lock_reset</mat-icon> Trocar Senha
      </li>


    <li routerLink="/login" class="Logout" (click)="logout()"><mat-icon>logout</mat-icon>Sair</li>
  </ul>
