<nav class="sidemenu">
  <ul>
     <li>
      <img src="../../../assets/mil-logo-removebg-preview.png" width="130px">
     </li>
    <li routerLink="/home"> <mat-icon>home</mat-icon>Home</li>
    <li routerLink="/funcionarios"> <mat-icon>person_add</mat-icon>Cadastrar funcionarios</li>
    <a href="" target="_blank"><li><mat-icon>local_fire_department</mat-icon>FireBase</li></a>
    <a href="" target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>
    <li routerLink="/login" class="Logout" (click)="logout()"><mat-icon>logout</mat-icon>Sair</li>
  </ul>
