<div class = "container-fluid p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

  <h1 class="titulo" *ngIf="editFuncionario">Editar Funcionários</h1>
  <h1 class="titulo" *ngIf="!editFuncionario">Cadastrar Funcionários</h1>
  <h2 class="subtitulo "> Preencha o formulario para salvar o funcionário </h2>


  <form class="row" [formGroup]="formFuncionario">
    <div class="col-12 col-md-6 md-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="nome" placeholder="Digite seu nome">
        @if (formFuncionario.controls['nome'].invalid) {
          <mat-error>Por favor digite um nome válido </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 md-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Cargo</mat-label>
        <input type="text" matInput formControlName="cargo" placeholder="Digite o cargo atual">
        @if (formFuncionario.controls['cargo'].invalid) {
          <mat-error>Por favor digite um nome válido </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 md-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="senha" placeholder="Digite a sua senha">
        @if (formFuncionario.controls['senha'].invalid) {
          <mat-error>Por favor digite uma senha válida </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 md-2">
      <mat-form-field class="example-full-width w-100">
        <mat-label>Confirmar Senha</mat-label>
        <input type="password" matInput formControlName="confirmarSenha" placeholder="Confirme a sua senha">
        @if (formFuncionario.controls['confirmarSenha'].invalid) {
          <mat-error>Por favor confirme a sua senha </mat-error>
        }

      </mat-form-field>
      <mat-error *ngIf="formFuncionario.get('confirmarSenha')?.value !== formFuncionario.get('senha')?.value">
        Senhas não correspondentes</mat-error>
    </div>



    <div class="col-12">
      <button class="botao-primario float-end" [disabled]="!formFuncionario.valid" (click)="saveFuncionario()">Salvar Funcionário</button>
    </div>

  </form>
</div>

